* {
  margin: 0;
  box-sizing: border-box;
}
html {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #663ab7;
  /*image from https://www.tech2success.com/7-ways-improve-client-communication*/
  background: url('/images/package.jpg');
  background-attachment: fixed;
  background-size: cover;
  /*background: linear-gradient(#663ab7, #01bcd5);*/
}
button {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  border: none;
  background-color: white;
  font-size: .8em;
}
button:hover {
  background-color: #5ACBE3;
  color: #fff;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
}
header {
  font-family: 'Lobster', cursive;
  flex: .8;
  padding: 23px 0 5px 0;
  width: 100vw;
  color: #fff;
  text-shadow:  0 5px 3px gray;
  font-size: 2em;
}
.fa-commenting {
  vertical-align: top;
  font-size: .9em;
}

/*ADD PAGE*/
.add-tweed {
  flex: 1;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-form {
  background-color: #BDCDD7;
  font-size: 1.7em;
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;

}
.add-form input {
  font-size: .9em;
  border-radius: 14px;
  border: none;
  margin-right: 15px;
  padding-left: 10px;
  width: 40vw;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  box-shadow: inset 2px 2px 2px gray;
  min-width: 180px;
}
.add-btn {
  font-size: .8em;
  border: none;
  background-color: white;
  min-width: 40px;
}
.add-btn:hover {
  background-color: #5ACBE3;
  color: white;
}

section {
  flex: 5;
  display: flex;
  justify-content: center;
  width:  100vw;
}
section h2 {
  font-weight: 300;
}
.tweed-container {
  background-color: #E6E6EA;
  width: 50vw;
  height: 64vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  min-width: 300px;
}
.tweed{
  border: 1px solid black;
  background-color: white;
  width: 45vw;
  height: 200px;
  margin-bottom: 10px;
  padding: 5px 0 10px 10px;
  min-width: 250px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 1px 3px gray;
  text-align: left;
}
.tweed input {
  padding-left: 5px;
  font-size: 1em;
  width: 40vw;
  height: 5vh;
  border: none;
  /*box-shadow: inset 2px 2px 2px gray;*/
  border-radius: 6px;
  background-color: #f6f7f9;
  min-width: 220px;
}
.fa-clock-o {
  padding: 0 10px 0 0px;
}
.fa-pencil {
  padding: 0 10px 0 10px;
  font-size: 1.7em;
  cursor: pointer;
}
.fa-pencil:hover {
  color: #5ACBE3;
}
.delete {
  margin: 0 10px 0 10px;
}
.cancel {
  float: right;
}
